body{
    font-family: century , arial;
    background: #e8e8e8;
}

.menu{
    list-style-type: none;
    padding: 0%;
    background: #96aef0;
    width: 90%; 
    max-width: 1000px;

}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 18px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a {
margin: 0 2rem;
}


